<md-dialog>
<form name="passwordForm" ng-submit="passwordForm.$valid && ctrl.parent.UpdatePassword()" novalidate focus-input>  
	<input type="hidden" ng-model="ctrl.parent.formModel.userId">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Change Password</h2>
			<span flex></span>
			<mat-button class=" mat-button  md-line">Cancel</mat-button>
			<mat-button class="mat-button   btn-main" type="ng-submit">Save</mat-button>
		</div>
	</md-toolbar> 
	<mat-dialog-content style="max-width:800px;max-height:810px;min-width:550px;min-height:280px;">
		<div class="pop-body price_setup_dio " layout="column"> 
		  <div class="alert alert-danger" ng-if="ctrl.parent.errorMsg">{{ctrl.parent.errorMsg}}</div>
		  <div class="clear"></div>
		  <mat-form-field class="md-block" appearance="outline">
			<label>Current Password</label>
			<input type="password" required name="currentPassword"  ng-model="ctrl.parent.formModel.currentPassword" ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}$/">
			<div ng-messages="passwordForm.currentPassword.$error">
				<div ng-message="required">Please enter password</div>
				<div ng-message="pattern">Please enter a valid password</div>
			</div>
		  </mat-form-field>	
		  <mat-form-field class="md-block" appearance="outline">
			<label>New Password</label>
			<input type="password" required id="newPassword" name="newPassword"  ng-model="ctrl.parent.formModel.newPassword" ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}$/" password-validate>
			<div ng-messages="passwordForm.newPassword.$error">
			  <div ng-message="required">Please enter password</div>
			  <div ng-message="pattern">Please enter a valid password</div>
			</div>
			<div class="input-help">
		      <h4>Password must meet the following requirements:</h4>
		      <ul>
		        <li ng-class="pwdCapLetter">At least <strong>one capital letter</strong></li>
		        <li ng-class="pwdSmLetter">At least <strong>one lowercase letter</strong></li>
		        <li ng-class="pwdHasNumber">At least <strong>one number</strong></li>
		        <li ng-class="pwdSplChar">At least <strong>one special character</strong></li>
		        <li ng-class="pwdValidLength">At least <strong>8 characters long</strong></li>
		      </ul>
		    </div>
		  </mat-form-field>
		  <mat-form-field class="md-block" appearance="outline">
			<label>Confirm Password</label>
			<input type="password" required name="confirmPassword"  ng-model="ctrl.parent.formModel.confirmPassword" is-match='newPassword'>
			<div ng-messages="passwordForm.confirmPassword.$error">
			  <div ng-message="required">Please enter password</div>
			  <div ng-if="passwordForm.confirmPassword.$error.ismatch">Password and confirm passwords are not same.</div>
			</div>
		  </mat-form-field>	
		</div>
		<div class="clear"></div>
	</mat-dialog-content>			
	<mat-dialog-actions layout="row">
		  <label>Fields marked with <span class="error">*</span> are compulsory.</label>
		  <span flex></span>
		  <mat-button class=" mat-button  md-line">Cancel</mat-button>
		  <mat-button class="mat-button   btn-main" type="ng-submit">Save</mat-button>
	</mat-dialog-actions>
</form>
</md-dialog>