<div class="login-box">
	<form #forgotForm="ngForm" novalidate (ngSubmit)="forgotForm.valid && submitForgotPwd(forgotForm.value)">
		<h2>Forgot Password ?</h2>
		<div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
   		<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
		<mat-form-field class="material">
			<input matInput placeholder="Email" required maxlength="40" #user_email="ngModel" name="user_email" ngModel pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$">
		    <mat-error *ngIf="user_email.errors && user_email.errors.required">
		      This is a <strong>required</strong> field
		    </mat-error>
		    <mat-error *ngIf="user_email.errors && user_email.errors.pattern">
		      Enter a valid <strong>email</strong> address
		    </mat-error>
		</mat-form-field>
		 
		<button mat-raised-button  class="btn-black" type="submit" data-text="SEND EMAIL">SEND EMAIL</button>
		<div class="row" style="text-align: center;">
			<div class="col-sm-12"><label class="text text-right"><a [routerLink] = "['/login']">Back to Login</a></label></div>
		</div>
		
	</form>
</div>

