<div class="login-box">
	<form #forgotForm="ngForm" novalidate (ngSubmit)="forgotForm.valid && submitResetPwd(forgotForm.value)">
		<h2>Reset Password</h2>
		<div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
   		<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>   		
		<mat-form-field class="material" appearance="outline">
			<mat-label>Password</mat-label>
	    	<input matInput placeholder="Password" type="password" required maxlength="20" #user_password="ngModel" name="user_password" [(ngModel)]="formModel.user_password" maxlength="20" pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}">
		    <mat-error *ngIf="user_password.errors && user_password.errors.required">
		      This is a <strong>required</strong> field
		    </mat-error>
		   
			<mat-error *ngIf="user_password.errors && user_password.errors.pattern"> <span class="hint"> Your password must contain atleast
				<strong>1 Capital letter ,1 special character,1 number and lowercase letters </strong>
					<br />
				</span> </mat-error>
		</mat-form-field>
		<mat-form-field class="material" appearance="outline">
			<mat-label>Confirm Password</mat-label>
	    	<input matInput placeholder="Confirm Password" type="password" required maxlength="20" #cpassword="ngModel" name="cpassword" [(ngModel)]="formModel.cpassword" maxlength="20" validateEqual="password"  pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}">
		    <mat-error *ngIf="cpassword.errors && cpassword.errors.required">
		      This is a <strong>required</strong> field
			</mat-error>
			<mat-error *ngIf="cpassword.errors && cpassword.errors.pattern"> <span class="hint"> Your password must contain atleast
				<strong>1 Capital letter ,1 special character,1 number and lowercase letters </strong>
					<br />
				</span> </mat-error>		    
		</mat-form-field>
		<button mat-raised-button  class="btn-black" type="submit" data-text="RESET PASSWORD">RESET PASSWORD</button>
        <div class="row" style="text-align: center;">
			<div class="col-sm-12"><label class="text text-right"><a [routerLink] = "['/login']">Back to Login</a></label></div>
		</div>        			
	</form>
</div>

