
<div class="login-box">
	<form #forgotForm="ngForm" novalidate (ngSubmit)="forgotForm.valid && submitUpdatePwd(forgotForm.value,forgotForm)">

		<h2>Reset Password</h2>
		<div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
		<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>

		<p>Note : Your password must contain atleast 1 Capital letter,1 special character, 1 number and lowercase letters and should have atleast 8 characters </p>
		<mat-form-field class="material" appearance="outline">
	    	<input matInput placeholder="Password" type="password" required maxlength="20" #password="ngModel" name="password" ngModel maxlength="20" pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}">
		    <mat-error *ngIf="password.errors && password.errors.required">
		      This is a <strong>required</strong> field
		    </mat-error>
		    <mat-error *ngIf="password.errors && password.errors.pattern">
		      Please enter a <strong>valid</strong> password
		    </mat-error>
		</mat-form-field>
		<mat-form-field class="material" appearance="outline">
			<mat-label>Confirm Password</mat-label>
	    	<input matInput placeholder="Confirm Password" type="password" required maxlength="20" #cpassword="ngModel" name="cpassword" ngModel maxlength="20" validateEqual="password">
		    <mat-error *ngIf="cpassword.errors && cpassword.errors.required">
		      This is a <strong>required</strong> field
		    </mat-error>
		    <mat-error *ngIf="cpassword.errors && !cpassword.validateEqual">
		      Your entered <strong>password</strong> and <strong>confirm passwords</strong> are not same
		    </mat-error>
		</mat-form-field>
		<button mat-raised-button  class="btn-black" type="submit" data-text="UPDATE PASSWORD">UPDATE PASSWORD</button>
	    <div class="row" style="text-align: center;">
			<div class="col-sm-12"><label class="text text-right"><a [routerLink] = "['/login']">Back to Login</a></label></div>
		</div>
	    
		
		
	</form>
</div>

