
<div class="login-box">
	<form #forgotForm="ngForm" novalidate (ngSubmit)="forgotForm.valid && submitVerify(forgotForm.value)">
		<h2>Enter Verification Code</h2>
		<div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
			<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
		<p>Please check your email for your verification code. </p>
		<mat-form-field class="material">
	    	<input matInput placeholder="Verification Code" type="number" required maxlength="40" #user_fcode="ngModel" name="user_fcode" ngModel>
		    <mat-error *ngIf="user_fcode.errors && user_fcode.errors.required">
		      This is a <strong>required</strong> field
		    </mat-error>		    
		</mat-form-field>	
		<button mat-raised-button  class="btn-black" type="submit" data-text="VERIFY">VERIFY</button>
		<div class="row" style="text-align: center;">
			<div class="col-sm-12"><label class="text text-right"><a [routerLink] = "['/login']">Back to Login</a></label></div>
		</div>
		
	</form>
</div>
	
