<section class="right-part" style="padding-top: 120px;">
	<div class="body-part dash addorderbody addorderbodypart" *ngIf="_globalService.isFormLoaded == 'Yes'">
		<div class="topheading">
			<h1 class="autoclick">
			  Dashboard
			  <div class="clear"></div>
			</h1>
		  </div>
<!-- 		<div class="row">
			<div class="col-sm-6" >
				<div class="dashboard_heading">
					<h1>Dashboard</h1>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="dashboard-decor">
					<div class="dash-outer time">
							<input type="button" class="dateSelectorInput" style="font-size: 16px;"
							ngxDaterangepickerMd
							[(ngModel)]="selected"
							[locale]="{applyLabel: 'Apply', format: 'DD-MM-YYYY'}"
							[showCustomRangeLabel]="true"
							[alwaysShowCalendars]="alwaysShowCalendars"
							[ranges]="ranges"
							[linkedCalendars]="true"
							(datesUpdated) = "datesUpdatedApply($event)"
							[keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange"
							placeholder="Order Date"/>
							<i class="icon-table"></i>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<mat-form-field appearance="outline" class="wherehouse">
					<mat-select  floatPlaceholder="never"  placeholder="Select Warehouse" #warehouse="ngModel" name="warehouse" [(ngModel)]="default_warehouse" (selectionChange)="callbackLoaddashboard(default_warehouse)">
						<mat-option [value]="0" >All Warehouse</mat-option>
						<mat-option *ngFor="let warehouse of warehouse_list" [value]="warehouse.id">{{warehouse.name}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</div> -->
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="chart-box white">
					<div class="chart-top">
						<div class="top-text"><span class="icon-clint"></span>New Students</div>
						<div class="mid-text">{{new_customer}}</div>
						<!-- <div class="bot-text"><span class="icon-up"></span>{{diff_in_percent}}% from yesterday</div> -->
					</div>
					<!-- <div class="chart-bottom"><img src="assets/images/chart-img.png" alt=""></div> -->
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="chart-box white">
					<div class="chart-top">
						<div class="top-text"><span class="icon-sales"></span>New Recruiters</div>
						<!--<span class="icon-font">~</span> {{total_sales | number : '1.2-2'}} -->
						<div class="mid-text">{{total_sales}}</div>
						<!-- <div class="bot-text"><span class="icon-up"></span>{{sales_percent}}% last month</div> -->
					</div>
					<!-- <div class="chart-bottom"><img src="assets/images/sales-chart-img.png" alt=""></div> -->
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="chart-box white">
					<div class="chart-top">
						<div class="top-text"><span class="icon-sales"></span>New Colleges</div>
						<!--<span class="icon-font">~</span> {{total_sales | number : '1.2-2'}} -->
						<div class="mid-text">{{total_sales}}</div>
						<!-- <div class="bot-text"><span class="icon-up"></span>{{sales_percent}}% last month</div> -->
					</div>
					<!-- <div class="chart-bottom"><img src="assets/images/sales-chart-img.png" alt=""></div> -->
				</div>
			</div>

			<div class="col-sm-12 col-md-6">
				<div class="chart-box white">
					<div class="chart-top">
						<div class="top-text"><span class="icon-sales"></span>New Colleges</div>
						<!--<span class="icon-font">~</span> {{total_sales | number : '1.2-2'}} -->
						<div class="mid-text">{{total_sales}}</div>
						<!-- <div class="bot-text"><span class="icon-up"></span>{{sales_percent}}% last month</div> -->
					</div>
					<!-- <div class="chart-bottom"><img src="assets/images/sales-chart-img.png" alt=""></div> -->
				</div>
			</div>
			
		</div>
<!-- 			<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<ul class="sale-tab">
						<li style="cursor: hand;cursor: pointer;" [ngClass]="'day' == selectedItem ? 'active' : 'none'"  (click)="getgraphdata('day')">Day</li>
						<li style="cursor: hand;cursor: pointer;" [ngClass]="'week' == selectedItem ? 'active' : 'none'"  (click)="getgraphdata('week')">Week</li>
						<li style="cursor: hand;cursor: pointer;" [ngClass]="'month' == selectedItem ? 'active' : 'none'"  (click)="getgraphdata('month')">Month</li>
						<li style="cursor: hand;cursor: pointer;" [ngClass]="'year' == selectedItem ? 'active' : 'none'"  (click)="getgraphdata('year')">Year</li>
					</ul>
					<div class="clear"></div>
					<div class="graph">
						<div style="display: block;" *ngIf="lineChartData.length>0">
							<canvas baseChart width="400" height="100"
								[datasets]="lineChartData"
								[labels]="lineChartLabels"
								[options]="lineChartOptions"
								[colors]="lineChartColors"
								[legend]="lineChartLegend"
								[chartType]="lineChartType"								  
								(chartHover)="chartHovered($event)"
								(chartClick)="chartClicked($event)"></canvas>
							</div>
					</div>
				</div>
			</div>
		</div> -->
			<div class="row ">
<!-- 			<div class="col-sm-6 col-md-4">
				<div class="box">
					<div class="heading">Top Customer</div>
					<ul class="box-list">
						<li *ngFor="let customer of top_customers">
							<a href="javascript:void(0)" (click)="_globalService.addTab('editcustomers','customers/edit/'+customer.customer_id+'/step3','Edit Customers',110);_globalService.navigateToUrl('/customers/edit/'+customer.customer_id+'/step3')" class="dashbord_link">
								<div class="text">{{customer.customer__first_name}} {{customer.customer__last_name}}</div>
								<div class="num">{{customer.total_amount | number : '1.2-2'| money}}</div>
								<div class="clear"></div>
							</a>
							
						</li>
					</ul>
				</div>
			</div> -->
<!-- 			<div class="col-sm-6 col-md-4">
				<div class="box">
					<div class="heading">Marketplace</div>
					<div class="graphContainer">
						<canvas baseChart
						[data]="doughnutChartDataVisitor"						
						[chartType]="doughnutChartTypeVisitor"
						[labels]="doughnutChartLabelsVisitor"
						[colors] = "colors"
						(chartHover)="chartHovered($event)"
						(chartClick)="chartClicked($event)">
						</canvas>
					</div>
				</div>	
			</div> -->
			<div class="clear visible-sm"></div>
<!-- 				<div class="col-sm-6 col-md-4">
				<div class="box">
					<div class="heading">Top Sold Products</div>
					<ul class="box-list">
						<li *ngFor="let products of top_sold_products">
							<a href="javascript:void(0)" (click)="_globalService.addTab('Detailproducts','products/details/'+products.product_id+'','View Product',83);_globalService.navigateToUrl('/products/details/'+products.product_id+'')" class="dashbord_link">
								<div class="text">{{products.product__name}}</div>
								<div class="num"> {{products.total_quantity }}</div>
								<div class="clear"></div>
							</a>
							
						</li>
					</ul>
				</div>
			</div> -->
			<div class="clear visible-md"></div>
		
			<div class="clear visible-sm"></div>			

			</div>		
	</div>
</section>
<div class="clear"></div>

<div class="clear"></div>