<form #passwordForm="ngForm" novalidate (ngSubmit)="passwordForm.valid && UpdatePassword(passwordForm)">
	<input type="hidden" name="userId" [(ngModel)]="formModel.userId">
	<div class="md-toolbar-tools">
		<h2 md-dialog-title>Change Password</h2>
		<button mat-raised-button class="btn-main" type="submit">Save</button>
		<button mat-raised-button class="btn-line" type="button" (click)="closeDialog()">Cancel</button>
	</div>
	<mat-dialog-content>
		<div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
   		<div class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</div>
		<div class="pop-body price_setup_dio " layout="column">
		  	<mat-form-field class="md-block" appearance="outline">
				<mat-label>Current Password</mat-label>
				<input type="password" matInput placeholder="Current Password" required #currentPassword="ngModel" name="currentPassword" [(ngModel)]="formModel.currentPassword" minlength="8" maxlength="20" pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}">
				<mat-error *ngIf="currentPassword.errors && currentPassword.errors.required">
		      		This is a <strong>required</strong> field
		    	</mat-error>
		    	<mat-error *ngIf="currentPassword.errors && currentPassword.errors.pattern">
		      		Please enter a <strong>valid</strong> password
		    	</mat-error>
		    	<mat-error *ngIf="currentPassword.errors && currentPassword.errors.minlength">
		      		Password should be between 8 to 20 characters
		    	</mat-error>
		    	<mat-error *ngIf="currentPassword.errors && currentPassword.errors.maxlength">
	      			Password should be between 8 to 20 characters
	    		</mat-error>
			</mat-form-field>
			<mat-form-field class="md-block" appearance="outline">
				<mat-label>New Password</mat-label>
				<input type="password" matInput placeholder="New Password" required #newPassword="ngModel" name="newPassword" [(ngModel)]="formModel.newPassword" minlength="8" maxlength="20" pattern="(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,20}">
				<mat-error *ngIf="newPassword.errors && newPassword.errors.required">
		      		This is a <strong>required</strong> field
		    	</mat-error>
		    	<mat-error *ngIf="newPassword.errors && newPassword.errors.pattern">
		      		Please enter a <strong>valid</strong> password
		    	</mat-error>
		    	<mat-error *ngIf="newPassword.errors && newPassword.errors.minlength">
		      		Password should be between 8 to 20 characters
		    	</mat-error>
		    	<mat-error *ngIf="newPassword.errors && newPassword.errors.maxlength">
	      			Password should be between 8 to 20 characters
	    		</mat-error>
			</mat-form-field>
			<mat-form-field class="md-block" appearance="outline">
				<mat-label>Confirm Password</mat-label>
				<input type="password" matInput placeholder="Confirm Password" required #confirmPassword="ngModel" name="confirmPassword" [(ngModel)]="formModel.confirmPassword" validateEqual="newPassword">
				<mat-error *ngIf="confirmPassword.errors && confirmPassword.errors.required">
		      		This is a <strong>required</strong> field
		    	</mat-error>
		    	<mat-error *ngIf="confirmPassword.errors && !confirmPassword.validateEqual">
			      Your entered <strong>password</strong> and <strong>confirm passwords</strong> are not same
			    </mat-error>
			</mat-form-field>
		</div>
		<div class="clear"></div>
	</mat-dialog-content>
	<mat-dialog-actions layout="row">
		<label>Fields marked with <span class="error">*</span> are compulsory.</label>
		<button mat-raised-button class="btn-main" type="submit">Save</button>
		<button mat-raised-button class="btn-line" type="button" (click)="closeDialog()">Cancel</button>
	</mat-dialog-actions>
</form>